<DOCTYPE html>
  <html>
  <body class = "sans-serif">
    <h1>Dice Game</h1>
    <hr>
    <img src="/assets/<%= @dice_values[0][0] %>.png" width="205" height="165">
    <img src="/assets/<%= @dice_values[0][1] %>.png" width="205" height="165">

    <% if @flag == 0
            goal_value = 0
            button_value = "Start Over" %>
          <h3>YOU WIN!</h3>
    <% elsif @flag == 1
            goal_value = 0
            button_value = "Start Over" %>
          <h3>YOU LOSE!</h3>
    <% else
            goal_value = @goal
            button_value = "Roll the dice" %>
          <h3>Your goal is now <%= @goal %>!</h3>
          <h4>Now try to get <%= @goal %> again before you roll a 7.</h4>
    <% end %>

    <form action = "/dice" method = "get">
      <input type = "hidden" name = "goal" value = <%= goal_value %> >
      <input type = "submit" class = "button" value = "<%= button_value %>">
    </form>

</body>
<html>
